#player1 {
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
}

#player2 {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
}

#spectators {
  position: absolute;
  right: 0px;
  top: 200px;
  color: white;
}

#player-setup {
  background-color: #333;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 200px;
  text-align: left;
  margin-left: -150px;
  margin-top: -100px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: none;
}

input {display: block}
