body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  overflow: hidden;
}

body, html, canvas {
  width:100%;
  height:100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

#render-target-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading-progress-container {
  width: 300px;
  margin: 20px auto;
  color: #44ABDA;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 56px;
  margin: -28px 0 0 -150px;
}

#loading-progress-container p {
  margin-bottom:10px;
  text-align: center;
  font-size: 16px;
}

#loading-progress-container .loading-progress {
  border: 1px solid #44ABDA;
  height: 5px;
}

#loading-progress-container .loading-progress div {
  width: 1px;
  background: #44ABDA;
  height: 100%;
}

#webGLunsupported {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  margin: -25px 0 0 -150px;
  color: #999;
  text-align: center;
}

#footer{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  position:absolute;
  bottom:0;
  width:100%;
  color:#fff;
  padding:10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 36px;
}
#footer p {
  margin-top: -20px;
  padding: 0px;
}

#footer img{
  position:relative;
  top:16px;
  margin:0 10px;
}

.html5-logo {
  position: absolute;
  margin-left: 200px;
  bottom: 5px;
  left: 50%;
  width: 36px;
  height: 36px;
  text-align: left;
  margin-left: -18px;
  z-index: 2;
}

.html5-logo img {
  width: 36px;
  height: 36px;
}

@media only screen and (max-device-width: 1280px) {
  .html5-logo {
    display: none;
  }
  .desktop {
    display: none;
  }
  .footer {
    font-size: 9pt;
  }
  .verold-logo {
    height: 36px;
  }
}

#render-target-container {
  width: 100%;
  height: 100%;
}
